<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="soteria_model">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0068129428236643 0.000911857513887752 -0.210457840549364"
        rpy="0 0 0" />
      <mass
        value="114.248015936462" />
      <inertia
        ixx="1.34359757026572"
        ixy="-0.00102457104712637"
        ixz="-0.237945102978319"
        iyy="7.19905309552309"
        iyz="-0.00341585895376481"
        izz="6.76152658394631" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://soteria_model/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://soteria_model/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>